@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);

*{
	margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: "Montserrat", sans-serif;
}	

.c1{
	display:flex;
	flex-direction:row;
  background-color: #313131;
  padding: 10px;
  justify-content: space-between;
}

.banner-1 img{ display: block;
  width: 99vw;
  object-fit: cover;  height: 128px;

}
.button{
  align-self: baseline;
  z-index: 1;
  margin: 24px 40px;
  column-gap: 8px;
  right: 0;
  position: absolute;
  border-width: 0;
  background: transparent;
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  width: 2%;
}.favbg{
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px, rgb(0 0 0 / 4%) 0px 4px 4px;
  background-image: initial;
    background-color: rgb(24, 26, 27);
    width: 36px;
    border-radius: 50%;
    height: 36px;
    justify-content: center;
    background: #FFFFFF;
    align-items: center;
    display: flex;
}
.shape{
  height: 16px;
  width: 16px;
  flex: none;
  overflow: hidden;
}
.second {
  display: flex;
  flex-direction: column;
}
.second{margin-top: 2%;
  flex: 1;
  margin-left: 1%;
  background-color: yellowgreen;
}
.seconds-1{
  padding: 20px;
}
.seconds-2{
  padding-left:20px;
  padding-bottom: 10px;
}
.container3{
  display: flex;

}
.left{margin-top: 3%;
  margin-left: 2%;
  width: 30%;
  background-color: coral;font-weight: bold;
}
.right{
  margin-top: 3%;
  width: 70%;
  background-color: aquamarine;
}
.smenutitle{
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;


}
.height{
  height: 30px;
}
.list{
  display: grid;
  gap: 40px 24px;
  grid-template-columns: repeat(4, 1fr);

}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  
}
li{list-style-type: none;
  display: list-item;
}
.li{
  margin-top: 40px;
}
.li:first-of-type{
  margin-top: 0px
}
.litem{
  min-width: 0px;
  grid-column: span 2 / auto;
}
.itemdiv{
  display: flex;
  flex: 1;
}
.itemdiv2
{
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.itemdiv3{
  display: flex;
  flex: 1;
  flex-direction: row;
}
.itemdiv4{
  display: flex;
  flex: 1;
  padding-bottom: 8px;
  padding-right: 8px;
  flex-direction: column;
}
.ititle{
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}.iprice{
  padding-top: 4px;
  align-items: flex-start;
  display: flex;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
}
.idesc{
  padding-top: 4px;
  word-break: break-word;
  flex: none;
  overflow: hidden;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
}
.iadd{
  position: absolute;
  right: 8px;
  top: 8px;
}
.addbutton{
  border-color: rgb(48, 52, 54);
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2px 4px;
  height: 36px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px, rgb(0 0 0 / 4%) 0px 4px 4px;

    background-color: rgb(24, 26, 27);
    width: 36px;
    border-radius: 50%;
    height: 36px;
    background: #FFFFFF;

}
.iadd button {
  border-width: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}.shapeadd{
  width: 20px;
  height: 20px;flex: none;
  fill: rgb(255, 255, 255);
}

