@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);

*{
	margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {    background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
font-family: "Montserrat", sans-serif;
}	
a{
	cursor: pointer;
	
	text-decoration: none !important;
}

.dropdown-menu a{
	
  color: #313131;
}
.right a{
	color: #fff;

}
.itemdiv4 a{
	color:red;
}
.container1{
	display:flex;
	flex-direction:row;
  background-color: #313131;
  padding: 10px;
  margin: 0px;
  justify-content: space-between;

}
.c1{
	display:flex;
	flex-direction:row;
  background-color: #313131;
  padding: 10px;
  justify-content: space-between;
}

.items-2 img{
 width: 120px;
}
.banner-1 img{ display: block;
  width: 97vw;
  object-fit: cover;  height: 128px;

}
.button{
  align-self: baseline;
  z-index: 1;
  margin: 24px 40px;
  column-gap: 8px;
  right: 0;
  position: absolute;
  border-width: 0;
  background: transparent;
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
}

.favbg{
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px, rgb(0 0 0 / 4%) 0px 4px 4px;
  background-image: initial;
    background-color: rgb(24, 26, 27);
    width: 36px;
    border-radius: 50%;
    height: 36px;
    justify-content: center;
    background: #FFFFFF;
    align-items: center;
    display: flex;
}

.shape{
  height: 16px;
  width: 16px;
  flex: none;
  overflow: hidden;
}
.addmenuitem{
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px, rgb(0 0 0 / 4%) 0px 4px 4px;
  background-image: initial;
    background-color: rgb(24, 26, 27);
    width: 100px;
    border-radius: 10px;
    height: 36px;
    justify-content: center;
    background: #4dc053;
    align-items: center;
    display: flex;
    transition-duration: 0.25s;
}
.addmenuitem:hover{
  background: #41a346;
}

.second{margin-top: 2%;
  flex: 1;
  margin-left: 1%;
  background-color: #313131;;
}
.seconds-1{
  padding: 20px;
}
.seconds-2{
  padding-left:20px;
  padding-bottom: 10px;
}
.container3{
  display: flex;
}
.items-4{
	color: #fff;
  align-self: center;
}
.cartli{
  display: flex;
}
.items-5{position: relative;
}
.items-5:hover ul,.items-5:focus ul{
  opacity: 1;
  visibility: visible;
}
.dropdown-menu{width: max-content;
  position: absolute; cursor: pointer;
  top: 6rem;
  font-weight: 600;
  left: -4rem;
  background-color: #fff;
  box-shadow: 0 0 10px #2a324b;
  border-radius: 0.2rem;
  width: 12rem;
  padding: 1rem;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity  200ms ease-in-out;
}
.dropdownmenu li{
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: background-color 200ms ease-in-out;
}
.dropdown-menu li:focus,.dropdown-menu li:hover{
  background-color: rgb(0 0 0 / 10%);
}
.link{display: flex;
  padding: 0;
  border: none;
  background: none;
}
.items-5 img{
  width: 70px;
}
.search{
  align-self: center;
}
.items-2{
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  align-self: flex-start;
}
.items-3,.items-5{display:flex;
  color: #fff;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
}
.items-3{flex: 1;background-color: #1f1f1f;border-radius: 25px;
}
input{background-color: #181a1b;
  width: 100%;
  padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border: 0;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}
input[type="text" i] {
  padding: 1px 2px;
}input:focus {
  outline-width: 0;
}

.space {
  width: 200px;
}.space_4 {
  width: 4px;
}.space_16 {
  width: 16px;
}.space_8 {
  width: 8px;
}.space_12 {
  width: 12px;
}.space_24 {
  width: 24px;
}
.container2{
  display: flex; 
  
}.leftcol{
  margin-left: 50px;
  width: 350px;
}.rightcol{
  
  display:flex;flex: 1;
  justify-content: center;
}
.rightmenu{flex-wrap: wrap;
  display:flex;flex: 1;
  justify-content: space-around;
}
.left{display:flex;flex: 1;
  background-color: #313131;
  color: #fff;
  font-size: 35px;
  padding: 20px;
  margin: 10px;

}
.right{ display: flex;
  justify-content: center;
  justify-content: center;
  background-color: #313131;
  
  font-size: 35px;
  padding: 20px;
  margin: 10px;

}
.rleft{margin-top: 3%;
  margin-left: 2%;
  width: 30%;
  background-color:inherit;font-weight: bold;
}
.rright{
  margin-top: 3%;
  width: 70%;
  background-color: inherit;
}

.smenutitle{
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;

}
.height{
  height: 30px;
}
.height_16{
  height: 16px;
}
.height_10{
  height: 10px;
}.height_12{
  height: 12px;
}

.rbanner img{ display: block;
  width: 25vw;
  object-fit: cover;  height: 128px;

}
.right{
  display: flex;
  flex-direction: column;
}
.binfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bname {display: flex;
  align-self: flex-start;
}
.brating{
  display: flex;
  align-self: flex-end;
}

.list{
  display: grid;
  gap: 40px 24px;
  grid-template-columns: repeat(4, 1fr);

}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  
}
li{list-style-type: none;
  display: list-item;
}
.li{
  margin-top: 40px;
}
.li:first-of-type{
  margin-top: 0px
}
.litem{
  min-width: 0px;
  grid-column: span 2 / auto;
}
.itemdiv{
  display: flex;
  flex: 1;
}
.itemdiv2
{
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.itemdiv3{
  display: flex;
  flex: 1;
  flex-direction: row;
}
.itemdiv4{
  display: flex;
  flex: 1;
  padding-bottom: 8px;
  padding-right: 8px;
  flex-direction: column;
}
.ititle{
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}.iprice{
  padding-top: 4px;
  align-items: flex-start;
  display: flex;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
}
.idesc{
  padding-top: 4px;
  word-break: break-word;
  flex: none;
  overflow: hidden;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
}
.iadd{
  position: absolute;
  right: 8px;
  top: 8px;
}
.iedit{
  position: absolute;
  right: 8px;
  top: 0;
}.iedit2{
 position: absolute;
  right: 100px;
  top: 0;
}
.iedit3{
 position: absolute;
  right: 180px;
  top: 0;
}
.addbutton,.editbutton{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2px 4px;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px, rgb(0 0 0 / 4%) 0px 4px 4px;
  width: 36px;
  border-radius: 50%;
  height: 36px;
  transition-duration: 0.25s;
  
}
.editbutton:hover{
  background-color: rgb(24, 26, 27);
}
.editbutton2,.deletebutton{
 cursor: pointer;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 60px;
  border-radius: 10px;
  border: none;
  transition-duration: 0.25s;
}
.editbutton2{
  background-color: rgb(64, 171, 233);
 
}
.editbutton2:hover{
  background-color: rgb(56, 143, 194);
}
.deletebutton{
  background-color: rgb(226, 46, 14);
}
.deletebutton:hover{
  background-color: rgb(170, 33, 9);
}
.addbutton{border-color: rgb(48, 52, 54);
  background: #FFFFFF;
}
.editbutton{border:none;
  background: #5f5f5f;
}
.editbutton:hover{
  background: #4e4e4e;
}
.iadd button {
  border-width: 0;
  padding: 0;
  margin: 0;
  background: #FFFFFF;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}.shapeadd{
  width: 20px;
  height: 20px;flex: none;

}.restshapeadd{
  width: 25px;
  height: 25px;flex: none;
  
}
.restedit{
  width: 25px;
  height: 25px;flex: none;
  
}
.restdelete{
  color: #fff;
  font-family: "Montserrat", sans-serif;
  
}
.restshapeedit{
  width:16px;
  height: 16px;flex: none;
  
}

.cartcontainer {    align-items: stretch;
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.cartl{background-color: inheirt;
  flex: 2;
  margin-top: 2%;
  margin-left: 1%;
  box-sizing: border-box;
}
.cartm{background-color: inherit;
  flex: 1;
  box-sizing: border-box;
}
.cartr{background-color: inherit;
  padding: 80px 0px;
  width: calc(33.3333% - 40px);
  flex: 2;
  box-sizing: border-box;
}
.ctitle{
  flex-direction: row;
  display: flex;
}
.crname{    margin-top: 24px;
line-height: 44px;
    font-size: 36px;
	    font-weight: 500;
	    margin: 0;
}
.cheader{
  color: rgb(232, 230, 227);
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-grow: 1;
}
.contli2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.citem{
  color: rgb(232, 230, 227);
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;

}
.cfprice{
  flex-grow: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: rgb(127, 252, 192);
}
.ctprice{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(179, 172, 162);
  line-height: 20px;
  margin-top: 4px;
}
.ctprice span{
  text-decoration: line-through;
}
.cartorder{
  position: sticky;
  top: 24px;
}
.placeorder{font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  margin-top: 32px;
  font-family: "Montserrat", sans-serif;
}
.orderbutton{
  background-color: rgb(3, 109, 58);
  color: rgb(232, 230, 227);
  border-radius: 5px;
  min-height: 56px;
  font-size: 18px;
  padding: 16px 0;
  justify-content: center;
  line-height: 24px;
  font-weight: 500;
  width: 100%;
  align-items: center;
  cursor: pointer;
  margin: 0;
  border:none;
  transition-duration: 0.25s;
}.orderbutton:hover{
  background-color: rgb(2, 90, 48);
}
.poli{
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}
.poli-items{display: flex;
  flex-direction: row;
  align-items: center;
}
.poli-items-text{
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: rgb(232, 230, 227);
}
.tip{display: flex;
  flex-direction: column;
}
.tip2{
  display: flex;
}
.tiptitle{
  flex: 1;
  align-items: center;
  display: flex;
}
.tiptext{color: rgb(232, 230, 227);
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}
.tiptable{
  overflow-x: auto;
  margin-bottom: -16px;
  padding: 16px 0;
  white-space: nowrap;
  display: flex;
  overflow-y: hidden;
}
.tipbuttonclass{
  position: relative;
}
.tipbutton{
  background-color: rgb(24, 26, 27);
  color: rgb(232, 230, 227);
  border-radius: 500px;
  padding: 0px 12px;
  height: 36px;
  width: fit-content;
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border:none;

}
.pototal{color: rgb(232, 230, 227);
  line-height: 28px;
  font-size: 20px;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.divider{
  background-color: rgb(40, 44, 45);
  margin: 16px 0px;
  border: none;
  height: 1px;
}
.coitemli{
  display: flex;
  flex-direction: row;
  list-style: none;
  color: rgb(232, 230, 227);
}
.selectiondropdown{
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}
.selectiondropdown2{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;

}
.select{
  border: none;
  outline: none;
  color: rgb(232, 230, 227);
  background-color: rgb(34, 36, 38);
  width: 55px;
  padding: 0px 12px 0px 16px;
  height: 36px;
  appearance: none;
  border-radius: 500px;
  cursor: pointer;
  white-space: nowrap;
}
.options,.defaultoption{
  background-color: rgb(34, 36, 38);
}
.defaultoption{
  color: rgb(34, 36, 38);
}

.arrowselector{
  pointer-events: none;
  top: calc(50% - 12px);
  right: 8px;
  position: absolute;
}
.arrowselector2{
  line-height: 1;
  width: 24px;
  height: 24px;
}
.restlinkcart{
  margin-top: 4px;
  pointer-events: auto;
  flex: 1;
  flex-direction: row;
  display: flex;
}.contli{
  align-self: center;
  flex-grow: 1;
}
.badge{
  margin-left: .25rem;
  display:inline-block;
  padding:.25em .4em;
  font-size:75%;
  font-weight:700;
  line-height:1;
  text-align:center;
  white-space:nowrap;
  vertical-align:baseline;
  border-radius:.25rem;
  color:#fff;background-color:#f15627;
}
.orderscontainer,.orderscontainer2{
  padding: 0 40px;
  box-sizing: border-box;
}

.orderscontainer2{
  margin: 0 auto;
}
.ordercontainertitle{width: 639px;
  margin: 8px 0px 32px;
  font-weight: 700;
  line-height: 44px;
  font-size: 36px;

}
.ordercontainerflex{
  display: flex;
}
.orderspagestorelink{
  flex: 0 0 302px;
  height: 100%;
  position: relative;
}
.orderimagefigure{
  height: 140px;    margin: 0;    overflow: hidden;    position: relative;
}
.ordersrestimage{
  top: 0px;
  left: 0px;
  width: 100%;    position: absolute;
  height: 100%;
}
.orderspagerestinfo1{
  flex: 1;
}
.orderspagerestinfo2{
  margin-left: 10px;
  width: 420px;
}
.orderspagerestinfo22{
  margin-left: 10px;
}
.orderspagerestinfo3{
  margin-bottom: 4px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.orderspagestorelinktitle{
  background-image: none;
  color: rgb(232, 230, 227);
  background-repeat: no-repeat;
  background-size: 0% 100%, 100% 100%;
  will-change: background-size;
  text-underline-position: under;
  transition-duration: 0.25s;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.rating{
  display: flex;
}
.ratingstars{
  fill: rgb(255, 194, 72);
  height: 16px;
  width: 16px;    flex: none;
}
svg:not(:root) {
  overflow: hidden;
}
.orderspageidesc{
  color: rgb(179, 172, 162);
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
}
.orderspagedivider{
  color: rgb(179, 172, 162);
  line-height: 24px;
  font-weight: normal;
  font-size: 14px;
  align-items: center;
}
.orderspageitemlist{display: flex;
  flex-direction: row;
  color: rgb(232, 230, 227);
}
.orderspageitemlist2{
  flex: 1;
}
.orderspageitem{
  flex-direction: row;
  display: flex;
  flex: 1;
}
.orderspageitemquantity{
  border-color: rgb(56, 61, 63);
  height: 22px;
  border: 1px solid rgb(226, 226, 226);
  padding: 0px 8px;
  margin: 0;
  line-height: 20px;
  font-weight: normal;
  font-size: 14px;
  align-items: center;
  display: flex;
}
.orderspageitemname{
  font-size: 16px;
  flex-grow: 1;
  line-height: 24px;
  font-weight: normal;
}
.orderimagefigure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.orderspagecancel{
  flex: 0 0 302px;
  align-items: stretch;
  flex-direction: column;
  display: flex;color: rgb(232, 230, 227);
}
.orderspageaccept{flex: 0 0 180px;
	 align-items: stretch;
  flex-direction: column;
  display: flex;color: rgb(232, 230, 227);
}
.orderspagecancelbutton,.orderspageacceptbutton,.orderspagedeliverybutton,.orderspagedeliveredbutton{
  box-shadow: none;
  font-family:inherit;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0px;
  padding-top: 16px;
  appearance: none;
  text-decoration: none;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  font-size: 18px;
  padding-bottom: 16px;
  margin-bottom: 0;
  justify-content: center;
  outline: none;
  line-height: 24px;
  display: inline-flex;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  width: 100%;
  transition-duration: 0.25s;
  box-sizing: border-box;
  flex-direction: row;
  border-color: #cc2020;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
}.orderspagestatus{
	display: flex;
	justify-content: center;
}
.orderspagestatusbutton{flex: 0 0 100px;
 color: rgb(232, 230, 227);
 padding-right: 10px;
 padding-left: 10px;
 border-radius: 0px;
 padding-top: 8px;
 text-decoration: none;
 border: none;
 margin: 0;
 font-size: 15px;
 padding-bottom: 8px;
 justify-content: center;
 line-height: 15px;
 cursor: pointer;
 align-items: center;
 transition-duration: 0.25s;
 text-align: center;
}
.orderspagestatusbutton{

	background-color: rgb(97, 97, 97);
}
.orderspagestatusbutton:hover{

	background-color: rgb(77, 77, 77);
}
.orderspageacceptbutton{color: #fff;
	background-color: rgb(70, 190, 33);
}
.orderspageacceptbutton:hover{
	background-color: rgb(54, 151, 24);
}
.orderspagedeliverybutton{
	background-color: rgb(250, 247, 58);
}
.orderspagedeliverybutton:hover{
	background-color: rgb(224, 222, 53);
}
.orderspagedeliveredbutton{
	background-color: rgb(59, 171, 247);
}.orderspagedeliveredbutton:hover{
	background-color: rgb(52, 151, 218);
}
.orderspagecancelbutton{
  color: rgb(232, 230, 227);
	background-color: rgb(177, 21, 21);
}
.orderspagecancelbutton:hover{
	background-color: rgb(160, 15, 15);
}

.profilecontainer{
  margin-left: 35%;
  margin-top: 5%;
  width: 500px;
  flex-direction: row;
  display: flex;
}
.profilecontainer2{
  flex-direction: column;
  display: flex;
}
.profilecontainer3{
  display: flex;
  flex-direction: row;
  width:fit-content;
}
.profiledetails{
  margin-left: 24px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.namechange{
  background-color: transparent;
  color: rgb(232, 230, 227);
  padding-left: 0px;
  padding-top: 0px;
  display: inline-flex;
  line-height: 36px;
  font-size: 24px;
  padding-bottom: 8px;
  outline: none;
  border: none;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  padding-right: 16px;
  font-weight: 500;
  align-items: center;
  font-family: inherit;
}

.shapeedit{
  margin-left: 12px;
  display: flex;
}
.edittag{
  font-size: 12px;
}

.phonenumber{
  color: rgb(232, 230, 227);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  
}
.profileinput{
  width: 50%;
  line-height: 20px;
  font-size: 14px;
  font-size: 14px;
  display: block;
}

#hidden{
  display: none;
}
#hidden2{
  display: none;
}#hidden3{
  display: none;
}#hidden5{
  display: none;
}#hidden6{
  display: none;
}#hidden7{
  display: none;
}
.profileinput2,.profileinput1,.profileinput3,.profileinput4{
  box-shadow: rgb(0 0 0 / 0%) 0px 2px 6px;
  border-color: rgb(50, 54, 57);
  background-color: rgb(29, 31, 32);
  color: rgb(232, 230, 227);
  border-style: solid;
  border-width: 1px;
  transition-duration: 0.25s;
  border-radius: 4px;
  line-height: 20px;
  font-size: 14px;
  display: flex;
}
.profileinput2{
  width: 100%;
}
.profileinput2 input,.profileinput1 input,.profileinput4 input,.profileinput3 input{
  caret-color: rgb(242, 146, 56);
  background-color: transparent;
  color: rgb(232, 230, 227);
  outline: none;
  border-style: none;
  border-width: 0px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: text;
  line-height: 20px;
  max-width: 100%;
  font-size: 14px;
  width: 100%;
  border-color: #736b5e;

}
.profileinput1{
  width: 120%;
}
.profileinput3{
  width: 150%;
}
.profileinput4{
  width: 200%;
}
.profilebuttons{
display: flex;
justify-content: space-between;
}
.walletinput{width: 150%;
  box-shadow: rgb(0 0 0 / 0%) 0px 2px 6px;
  border-color: rgb(50, 54, 57);
  background-color: rgb(29, 31, 32);
  color: rgb(232, 230, 227);
  border-style: solid;
  border-width: 1px;
  transition-duration: 0.25s;
  border-radius: 4px;
  line-height: 220px;
  font-size: 60px;
  display: flex;
  text-align: center;
}
.locationheader{
  color: rgb(232, 230, 227);
  padding: 0;
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-right: 0;
  margin-left: 0;
}
.profiledeletebutton{
	 text-decoration: none;
  display: inline-flex;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  outline: none;
  border-radius: 4px;
  border: none;
  justify-content: center;
  font-size: 16px;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  font-family: inherit;
  transition-duration: 0.25s;
}
.savechanges,.logoutbutton{
  
  text-decoration: none;
  display: inline-flex;
  margin: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  outline: none;
  border-radius: 4px;
  border: none;
  justify-content: center;
  font-size: 16px;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  padding-right: 76px;
  padding-left: 76px;
  align-items: center;
  font-family: inherit;
  transition-duration: 0.25s;
}

.savechanges{
  background-color: rgb(242, 140, 56);
  color: rgb(252, 252, 252);
}
.savechanges:hover{
background-color: rgb(219, 119, 38);
}
.logoutbutton{    width: 48%;
  background-color: rgb(39, 42, 44);
  color: rgb(231, 87, 70);
}
.logoutbutton:hover{
  background-color: rgb(29, 31, 32);
  color: rgb(194, 46, 29);
}
.profiledeletebutton{
  background-color:rgb(231, 87, 70);
  color:rgb(39, 42, 44);
}
.profiledeletebutton:hover{
  background-color:  rgb(194, 46, 29);
  color: rgb(29, 31, 32);
}

.restauranthome{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.register{
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 50px;
  position: fixed;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:500px;
	height:350px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register h1 {
   color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
     letter-spacing:1px;
      text-align:center; 
      margin-top: 10px;
      margin-bottom: 30px;
    }
.register input::placeholder{
  color: #000000;
}
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
.formbutton,.deleteformbutton,.deleteformbutton2{transition-duration: 0.25s;
  cursor: pointer;
       
       font-family: "Montserrat", sans-serif;
       
      font-size: 20px;
    }
    .formbutton{color: #fff;
    background-color: #41a346;
    }
    .formbutton:hover{color: #fff;
      background-color: #36853a;
    }
.deleteformbutton{color: #fff;
	 background-color: rgb(226, 46, 14);
}
.deleteformbutton:hover{color: #fff;
	 background-color: rgb(170, 33, 9);
}
.deleteformbutton2{color: rgb(226, 46, 14);
	 background-color: rgb(24, 24, 24);
}
.deleteformbutton2:hover{
	 background-color: rgb(70, 70, 70);
}
.register input,.register select,.formbutton,.deleteformbutton { 
      width: 100%; 
      margin-bottom: 10px; 
      border: none;
      outline: none;
      padding: 10px;
      border: 1px solid rgba(0,0,0,0.3);
      border-radius: 4px;
      box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
      
}
.register input,.register select{
	color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    background: rgba(253, 253, 253);
}
.register select option {
	color: rgb(0, 0, 0);
    background: rgba(253, 253, 253);
}

.closebutton{
  background-color: rgb(24, 26, 27);
  width: 48px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  z-index: 11;
  justify-content: center;
  height: 48px;
  cursor: pointer;
  align-items: center;
  position: absolute;
  display: flex;
  border-color: #736b5e;
  transition-duration: 0.25s;
}
.closebutton:hover{
  background-color: rgb(40, 42, 44);
}
.closebutton2{
  line-height: 1;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.adminprofileimg{
  flex: 0 0 302px;
  height: 100%;
  position: relative;
}
.admincontainerflex{
  display: flex;
}
.adminimagefigure{
  height: 140px;    margin-right: 100px; margin-left: 300px;   overflow: hidden;    position: relative;
}
.adminimage img{
  width: 50px;height: 50px;
}
